@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-dark-primary text-text-light;
  scroll-behavior: smooth;
}

body {
  @apply min-h-screen font-sans;
}

::selection {
  background-color: theme('colors.accent-green');
  color: theme('colors.dark-primary');
  }